%p Szanowni Państwo.
%p Centrum Dobrej Książki i Gry powstało z myślą o niezwykle  zróżnicowanych potrzebach klientów. Doskonale zdajemy sobie sprawę, że niema  dwóch takich samych odbiorców i dlatego staramy się dopasować ofertę  indywidualnie pod kątem spersonalizowanych wymagań i potrzeb. Dzięki takiej  filozofii firmy, mogą Państwo pouczyć się w trakcie zakupów w naszej firmie  naprawdę wyjątkowo.
%p Klientami naszej firmy są biblioteki, szkoły, instytucje i  firmy o różnych profilach działalności oraz klienci indywidualni poszukujący  unikatowych i wartościowych pozycji.
%p Warto pamiętać iż na życzenie klientów wyszukujemy i  sprowadzamy wybrane i poszukiwane tytuły.
%p Centrum Dobrej Książki i Gry oferuje również swoim klientom  gry planszowe. Począwszy od prostych gier edukacyjnych poprzez towarzyskie,  ekonomiczne, strategiczne i bitewne aż po rzadkie edycje kolekcjonerskie.  Dzięki oferowanym grom możemy nie tylko się zrelaksować ale także przenieść w  inny świat i samemu tworzyć fabułę gry, gdzie czasami jedynymi ograniczeniami  dla gry są tylko granice naszej wyobraźni. Proponowane przez nas gry są zawsze  dobierane stosownie do wieku, temperamentu, doświadczenia i zainteresowań co w  dużej mierze gwarantuje satysfakcję.
%p Zachęcamy do regularnego odwiedzania naszej strony i  śledzenia nowości wydawniczych.
