/ @page { size: 21cm 29.7cm; margin: 2cm }  		P { margin-bottom: 0.21cm }  		A:link { color: #000080; so-language: zxx; text-decoration: underline }
%BODY{:DIR => "LTR", :LINK => "#000080", :VLINK => "#800000"}
  %p Doskonale wiemy iż nie tylko rynek wydawniczy się zmienia  ale także Państwa oczekiwania. Jeśli czegoś Państwu brakuje w naszej ofercie  lub chcielibyście się Państwo podzielić opinią czy sugestią, zachęcamy do  skorzystania z elektronicznego formularza kontaktowego.
  %p  
  %p Bądźmy zawsze w kontakcie
  %p tel. 34 – 343 03 23, Kom. 669 73 24 32, Fax.34 – 343 00 32
  %p biuro@cdkig.pl
  %p  
  %p Dane firmy
  %p Centrum Dobrej Książki i Gry
  %p ul. Olsztyńska 85/1, 42-202 Częstochowa
  %p NIP 949-189-93-96
  %p{:align => "center"}
