%p Szanowni Państwo
%p Jeśli jesteście zainteresowani współpracą z Centrum Dobrej  Książki i Gry zachęcamy do skorzystania z elektronicznego formularza  kontaktowego. Jesteśmy do Państwa dyspozycji również pod telefonem o numerze 34  – 343 03 23 w godzinach 8-16, lub pod numerem
%p
  %span{:style => "font-weight: bold; font-size: 16px;"} 669 73 24 32
  o dowolnej porze.
%p{:align => "left"} 
