%p 
Szanowni Państwo!
%br
Jeśli jesteście zainteresowani współpracą z Centrum Dobrej  Książki i Gry zachęcamy do skorzystania z elektronicznego formularza  kontaktowego.
%br
Jesteśmy do Państwa dyspozycji również pod telefonem o numerze (34) 343 03 23 w godzinach 8-16 oraz pod numerem  669 73 24 32 o dowolnej porze.
%p{:align => "left"} 
