%p{:style => "font-weight: bold; font-size: 16px;"} Witamy na stronie Centrum Dobrej Książki i Gry
%p Na łamach tej witryny odnajdziecie Państwo nie tylko opisy  nowości wydawniczych czy wyszukacie edycje bibliofilskie. W Centrum Dobrej  Ksiązki i Gry można również odnaleźć doskonałe pomysły na prezenty dla bliskich  Wam osób czy kluczowych klientów i pracowników . Pamiętajmy iż upominki którymi  obdarowywujemy innych świadczą o nas samych. Stąd odpowiednio dobrana książka  czy gra planszowa mogą sprawić wiele radości bliskim a wśród obdarowywanych  kontrahentów i pracowników utrwali pozytywny wizerunek firmy również jako  mecenasa kultury. Asortyment który oferujemy Państwu, to książki z  najznakomitszych polskich wydawnictw, często z głęboko zakorzenioną tradycją i  bogatą historią co czyni ofertę wyjątkową .
%p  
%p{:style => "font-weight: bold; font-size: 16px;"}Serdecznie zapraszamy i zachęcamy do szczegółowego  zapoznania się z naszą bogatą ofertą


-#%h1 Logowanie
-#- if user_signed_in?
-#	Witaj,
-#	= current_user.email
-#	= link_to "Wyloguj", destroy_user_session_path, :method => "delete"
-#- else
-#	= link_to "Zaloguj", new_user_session_path
