-#%h1.tekst-1strona
-#  Gry:
- for game in @games 
  .post
  %h2.title
    = link_to game.name, game_path(game)
    %p.tekst-1strona
      Cena: #{game.price}
      %br
      Gatunek gry: #{game.game_type}
