%p
  Witaj #{@resource.email}!
%p Możesz potwierdzić utworzenie konta klikając w link poniżej:
%p= link_to 'Potwierdź utworzenie konta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
