%p
  Witaj #{@resource.email}!
%p Ktoś poprosił o zmianę hasła do Twojego konta. Możesz to zrobić klikając w link poniżej
%p= link_to 'Zmień hasło, edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Jeśli to nie Ty prosiłeś o zmianę hasła zignoruj ten e-mail.
