-#%h1.tekst-1strona
-# Akcesoria:
- for accessory in @accessories 
  .post
  %h2.title
    = link_to accessory.name, accessory_path(accessory)
    %p.tekst-1strona
      Cena: #{accessory.price}
%br
%br
= paginate @accessories 
